!
version 15.2
!
service timestamps debug datetime msec
!
service timestamps log datetime msec
!
boot-start-marker
!
boot-end-marker
!
no aaa new-model
!
ip cef
!
no ipv6 cef
!
multilink bundle-name authenticated
!
ip forward-protocol nd
!
no ip http server
!
no ip http secure-server
!
ip bgp-community new-format
!
hostname Dravograd
!
!
interface Fa1/0
 ip address 10.0.0.75 255.255.255.254
 description "To SlovenjTTGradec"
 speed auto
 duplex auto
!
interface Fa1/1
 ip address 10.0.0.79 255.255.255.254
 description "To Velenje"
 speed auto
 duplex auto
!
interface Fa0/0
 ip address 10.0.0.89 255.255.255.254
 description "To Maribor"
 speed auto
 duplex auto
!
interface Fa0/1
 ip address 10.0.0.94 255.255.255.254
 description "To RavneTTnaTTKoroskem"
 speed auto
 duplex auto
!
!
!
!
!
ip as-path access-list 10 permit _170_
!
route-map RMap_Dravograd_from_Maribor permit 10
 match as-path 10
 set local-preference 1
 set community 100:0 additive
route-map RMap_Dravograd_from_Maribor permit 100
!
!
interface Loopback0
 ip address 128.0.4.1 255.255.255.0
 description "For Destination"
!
ip route 128.0.4.0/24 Null0
!
!
router bgp 50
 network 128.0.4.0 mask 255.255.255.0
 no synchronization
#  bgp log-neighbor-changes
 neighbor 10.0.0.88 remote-as 170
 neighbor 10.0.0.88 description "To Maribor"
 neighbor 10.0.0.88 advertisement-interval 0
 neighbor 10.0.0.88 soft-reconfiguration inbound
 neighbor 10.0.0.88 send-community
 neighbor 10.0.0.88 route-map RMap_Dravograd_from_Maribor in
 neighbor 10.0.0.95 remote-as 260
 neighbor 10.0.0.95 description "To RavneTTnaTTKoroskem"
 neighbor 10.0.0.95 advertisement-interval 0
 neighbor 10.0.0.95 soft-reconfiguration inbound
 neighbor 10.0.0.95 send-community
 neighbor 10.0.0.74 remote-as 300
 neighbor 10.0.0.74 description "To SlovenjTTGradec"
 neighbor 10.0.0.74 advertisement-interval 0
 neighbor 10.0.0.74 soft-reconfiguration inbound
 neighbor 10.0.0.74 send-community
 neighbor 10.0.0.78 remote-as 340
 neighbor 10.0.0.78 description "To Velenje"
 neighbor 10.0.0.78 advertisement-interval 0
 neighbor 10.0.0.78 soft-reconfiguration inbound
 neighbor 10.0.0.78 send-community
!
!
!
!
!
!
!
!
!
!
!
control-plane
!
!
line con 0
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 login
!
end
